@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  --accent: rgb(22, 198, 93);
  align-self: center;
  width: 30vw;
  margin-top: 5vh;
  margin-bottom: 4vh;
  cursor: pointer;
  background: transparent;
  border: 1.5px solid var(--accent);
  color: var(--accent);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s all;
  outline: none;
}

li {
  list-style-type: none;
  margin: 0;
  border: 0.1px solid rgba(128, 128, 128, 0.133);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 4vh;
  box-shadow: -4px 16px 26px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 16px 26px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 16px 26px -8px rgba(0, 0, 0, 0.75);
  background-image: -webkit-linear-gradient(150deg, #45c5f767 20%, #ffffff 50%);
}

.btn:hover {
  background: var(--accent);
  color: white;
}
